<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-light">
            <i class="fas fa-bars"></i>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <form class="form-inline" action="/searchbyname">
                        <input class="form-control mr-sm-0" type="search" placeholder="     Search" aria-label="Search" name="name" id="form-nav">
                        <input type="hidden" value="" name="size">
                        <button class="btn btn-outline-blue btn-outline-primary my-2 my-sm-0 ml-1 font-weight-bold" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item ml-5">
                    <img src="/images/user.svg" alt="">
                </li>
                <li class="nav-item ml-2 pt-1">
                    <p>Unis Badri</p>
                </li>
                <li class="nav-item ml-2 pt-2">
                  <img src="/images/fi_down.svg" alt="">
                </li>
            </ul>
        </div>
    </div>
</nav>