<%- include("_header") -%>

<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/images/logoLarge.png" alt="">
    </div>
    
    <div class="list">
        <ul style="list-style-type:none;">
            <li>
                <img src="/images/Home.svg" alt="">
            </li>
            <li>
                <img src="/images/Administrator.svg" alt="">
            </li>
        </ul>
        
        
    </div>
</nav>