<%- include("layouts/_sidebar") -%>

<script src="/send_url.js"></script>
<div id="content">
  <%- include("layouts/_navbar") -%>
  <ul class="breadcrumb">
    <li>Cars</a></li>
    <li><a href="/">List Car</a></li>
    <li>Add New Car</li>
  </ul>
  <div class="ml-3">
    <h5><strong>Add New Car</strong></h5>
  </div>
  <form class="p-2" action="/admin/add" method="POST" enctype="multipart/form-data">
    <div class="bg-white p-4">
      <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="name" id="inputName" placeholder="Avanza" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputRent" class="col-sm-2 col-form-label"
          >Sewa  Per Hari</label
        >
        <div class="col-sm-3">
          <input type="text" class="form-control" name="rent" id="inputRent" placeholder="Rp 0,-" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputSize" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="size" id="inputSize" placeholder="Small " />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputImage" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-3">
          <input type="file" class="form-control" name="image" id="imageUrl" />
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-blue btn-outline-primary mt-5">
      <a href="/">Cancel</a>
    </button>
    <button type="submit" class="btn btn-blue btn-primary mt-5 ml-2">Save</button>
  </form>
</div>

<%- include('layouts/_footer') %> 
