<%- include("layouts/_sidebar") -%>

<div id="content">
  <%- include("layouts/_navbar") -%>
  <div class="table-responsive">
    <div class="table-wrapper">
      <ul class="breadcrumb">
        <li><a href="/admin/vehicles" class="font-weight-bold">Cars</a></li>
        <li>List Car</li>
      </ul>
      <div class="container mb-4">
        <div class="row">
          <div class="col-10">
            <h3><strong>List Car</strong></h3>
          </div>
          <div class="col">
            <a href="/admin/add" class="btn btn-blue btn-primary">
              <span><i class="fas fa-plus" style="font-size: 24px"></i> Add New Car</span>
            </a>
          </div>
        </div>
      </div>
      <div class="btn-filter mb-4">
        <form class="form-inline" action="/search">
          <input type="hidden" value="" name="name" />
          <button type="submit" class="btn btn-outline-blue btn-outline-primary mr-2" name="size" value="">All</button>
          <button type="submit" class="btn btn-outline-blue btn-outline-primary mr-2" name="size" value="Small">Small</button>
          <button type="submit" class="btn btn-outline-blue btn-outline-primary mr-2" name="size" value="Medium">Medium</button>
          <button type="submit" class="btn btn-outline-blue btn-outline-primary mr-2" name="size" value="Large">Large</button>
        </form>

        <!-- list cars -->
        <div class="row">
          <% items.forEach((item)=> {%>
          <div class="col-4">
            <div class="card-mobil card">
              <img src="<%= item.imageUrl %>" class="card-img-top" alt="mobil-01" width="270" height="160" />
              <div class="card-body">
                <h5 class="card-title" style="height: 35px; overflow-y: hidden; font-size: 14px"><%= item.name %>/ <%= item.size %></h5>
                <h4 style="font-size: 16px" class="font-weight-bold">Rp <%= item.rent %> / hari</h4>
                <p style="height: 28px; overflow-y: hidden; font-size: 14px"><i style="font-size: 24px" class="fas">&#xf017;</i> Updated At <%= item.updatedAt %></p>
                <div class="row mx-auto">
                  <div class="col-6">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#exampleModal<%= item.id %>">
                      <i class="fas fa-trash"></i>
                      Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="col-md-3 mx-auto icon-modal">
                                <img src="https://ik.imagekit.io/wx1jhmfkq/img-BeepBeep_j7AUIW7F2.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665362783218" width="154px" height="121px" style="margin-left: -27px" alt="" />
                              </div>
                              <div class="text-center mt-2 title-modal">
                                <h5>Menghapus Data Mobil</h5>
                              </div>
                              <div class="text-center mt-2 pl-4 pr-4">
                                <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <form action="/admin/delete/<%= item.id %>" method="get">
                              <button type="submit" class="btn btn-primary" style="width: 87px">Ya</button>
                            </form>
                            <button type="button" class="btn btn-outline-primary active" style="width: 87px" data-dismiss="modal">Tidak</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal -->
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn-mobil btn btn-success btn-lg">
                      <a href="/admin/edit/<%= item.id %>"><i style="font-size: 24px" class="fas">&#xf044;</i> Edit</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        >
      </div>
    </div>
  </div>

  <%- include("layouts/_footer") -%>
</div>
