<%- include("layouts/_sidebar") -%>

<script src="/send_url.js"></script>
<div id="content">
  <%- include("layouts/_navbar") -%>

  <h4>Update Car Information</h4>
  <form class="bg-white p-4" action="/admin/edit/<%= items?.id %> " method="POST" enctype="multipart/form-data">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">Nama</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="name" id="inputName" value="<%= items?.name %>" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputRent" class="col-sm-2 col-form-label"
        >Sewa  Per Hari</label
      >
      <div class="col-sm-3">
        <input type="text" class="form-control" name="rent" id="inputRent" value="<%= items?.rent %>" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputSize" class="col-sm-2 col-form-label">Ukuran</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="size" id="inputSize" value="<%= items?.size %>" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputImage" class="col-sm-2 col-form-label">Foto</label>
      <div class="col-sm-3">
        <input type="file" class="form-control" name="image" id="imageUrl" value="<%= items?.imageUrl %>"/>
      </div>
    </div>
    <button type="button" class="btn btn-outline-blue btn-outline-primary mt-5">
        <a href="/">Cancel</a>
      </button>
      <button type="submit" class="btn btn-blue btn-primary mt-5 ml-2">Save</button>
  </form>
</div>

<%- include('layouts/_footer') %> 
